<h1>What time is it?</h1>


<form action="/answer">
  <label for="question"><h3>Speak to your coach</h3></label>
  <input type="text" id="question" name="query" placeholder="what time is it?">
  <input type="submit" value="Go on!" class="btn btn-primary">
</form>










